@import '../../index.scss';

.numbers {
  grid-area: numbers;
  display: flex;
  flex-wrap: wrap;
  width: $width-button * 4;
  flex-direction: row-reverse;
  justify-content: flex-end;

  &__item {
    margin: $margin-button;
    height: $width-button;
    width: $width-button;
    font-size: 26px;
    background-color: 'white';
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: slategrey;
    }

    &--active {
      background-color: red;
    }
  }
}